@model IEnumerable<NLog.Models.Hatalar>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h2>Error List</h2>
    </div>

</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tarih.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Saat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hata)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aciklama)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>

                            @Html.DisplayFor(modelItem => item.Tarih)
                            </span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hata)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aciklama)
                        </td>
                    </tr>
                }

            </table>
            <hr />


        </div>
    </div>
</div>